		.shadow
		{
			width: 100%;
			height: 100%;
			z-index: 100000;
			filter: alpha(opacity=60);
			opacity: .6;
			position: fixed;
			top: 0px;
			left: 0px;
			background-color: #666;
			display: none;
		}

		.error
		{
			z-index:100001;
			display:none;
			width: 500px;
			position: absolute;
			left: 235px;
		}

		.fixed .error
		{
			top: 0px;
		}
		.adminbody .error
		{
			top: 200px;
		}

		.errorhead		
		{
			width: 500px;
			background-image: url(../images/dialog_500_header.png);
			background-repeat: no-repeat;
			height: 8px;
		}
		.errorbody		
		{
			width: 470px;
			background: url(../images/dialog_500_body.png) repeat-y;
			padding: 0 15px 0 15px;
			color: #000;
			border: 0px none transparent;
		}

		.errorfoot
		{
			width: 500px;
			background-image: url(../images/dialog_500_footer.png);
			background-repeat: no-repeat;
			height: 20px;
		}

		.errorNV		
		{
			color: #C00;
			display: none;
		}